
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body{
        font-family: Arial, Helvetica, sans-serif;
        /*background-color: #2f2f2f;*/
      }
      .container{
        margin: auto;
        padding: 8px;
        margin: 3px;
      }

      h3{
        text-align: center;
      }

      .content{
        padding: 5px;
        line-height: 1.5;
      }

      .content span{
        display: block;
        font-size: 16px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <div class="content">
      <p><b>Dear, <%= @user.name %>!</b></p>
      Team Electra wishes you all the very best for the online Quiz, <b>Brainiac-Technical</b>

      <p>
        We thank you for your cooperation and support during this COVID situation. We hope all are
        safe and doing best. We appreciate your enthusiasm to showcase your talent to the world.
      </p>
      <h4>Test schedule: 8th May 2021</h4>
        <ul>
          <li>Level 1: <b>4 to 4 30 pm</b> </li>
          <li>Level 2: <b>5 to 5 30 pm</b></li>
        </ul>


      <h4 style="text-decoration: underline;">Login Credentials: </h4>
      <b>Link: </b><a href="http://electra-quiz.herokuapp.com/" style="color: #007bff;">http://electra-quiz.herokuapp.com/</a> <br>
      <b>Username: </b><%= @user.email %> <br>
      <b>Password: </b><%= @user.password %> <br><br>

      <h4 style="text-decoration: underline;">Instructions</h4>
      <ul>
        <li>Log in within the <b>first 10 minutes</b> of the allotted slot ( i.e., within 4:10 pm for Level-1 and
            5:10 pm for Level-2), after which you'll not be allowed to.</li>
        <li>Go through the instructions displayed after logging in.</li>
        <li>The exam duration is 20 min.</li>
        <li>A single question is displayed each time, you've to submit your response to save it, if
            you wish to skip, make a note that you <b>can't go back</b> to those questions.</li>
        <li>The question number which you are currently in and the total number of questions will be
            displayed at the top, all the time.</li>
        <li>If other tabs in the browser or other applications are opened, the timer will continue to
            run and <b>you'll lose access</b> to answer the questions.</li>
        <li>Throughout the test, if you face any problem, immediately go back to the home page (
            Login interface) and click the menu at the top right corner and contact us.</li>
        <li>Also if you face any network issues, you can re-login <b>only</b> during the same slot, your
            progress will be saved and you can continue from where you left.</li>
        <li>In any case, you cannot access the test after the allotted slot is ended.</li>
        <li>There's no negative marking.</li>
      </ul>

      <p>
        Participation certificates will be mailed and winners will be declared through our instagram handle.<span><a href="https://instagram.com/electra_seee?igshid=24ud54do8km7" style="color: #007bff;"><img src="https://firebasestorage.googleapis.com/v0/b/electra-brainiac.appspot.com/o/instagram.png?alt=media&token=c4020cd6-0136-4071-97b8-1d57399f6054" alt="instagram.com" style="vertical-align:middle;padding: 2px">/electra_seee</a><span>
      </p>


      <p tyle="text-align: center;">If you have any queries, reply back to this mail.</p>
      <br><br><b>
      Thanks & regards,<br>
      Team Electra.<br>
      </b>
    </div>
    </div>
  </body>
</html>
