<%= javascript_pack_tag 'index' %>
<h1 class="main-head primary-text text-center font-weight-bold text-primary">
  <%= "Level #{@question.question.level} - #{@question.question.ques_type.capitalize}" %>
</h1>
<div id="allq">
  <%= render partial: "question", locals: {question: @question,question_number: @question_number} %>
</div>
