<div class="all-messages">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <%end%>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <%end%>
  <% if flash[:error] %>
    <div id="error_explanation">
      <p class="error-msg"><%= flash[:error] %></p>
    </div>
  <% end %>
</div>
