<div class="instructions">
  <h1> Instructions </h1>
  <div>
    <h2>General Instructions</h2>
    <ol>
      <li>Participant details is shown in the next page, Please verify all the details.</li>
      <li>The results will be intimated through email.</li>
      <li><span style="font-weight:bold;">HELP:</span> If there is any issue during the quiz you can click on help and you can reach us through WhatsApp or Email by clicking on those links.</li>
    </ol>
  </div>
  <div>
    <h2>Quiz Instructions</h2>
    <ol>
      <li>This quiz has ONLY Objective(MCQ) questions</li>
      <li>Each question carries 1 mark and there is no negative marks.</li>
      <li>For each question alloted time is 1 minute. </li>
      <li>Time left for a question is shown above the question in the right side corner. </li>
      <li>Present question and total questions count is shown above the question in the left side corner.</li>
      <li><span style="font-weight:bold;">IMPORTANT:</span>If you choose to select an answer for a question then the answer must be submited before moving to next question.</li>
    </ol>
  </div>
  <p class="next-btn">
    <%= link_to "Continue", :quiz_details, data: {"disable-with": "Please wait.."} %>
  </p>
</div>
