<main class="signUpBox">
  <p class="signUp-login">
    Enter Login Credentials
  </p>
  <%= form_with url: :users_login, class: "signUp-form" do |form| %>
    <%= form.text_field :email,
                         placeholder: "Username",
                         autofocus:"autofocus"
    %>
    <br>
    <%= form.password_field :password,
                          placeholder: "Password",
                          autofocus:"autofocus"
    %>
    <br>
    <%= form.submit "LogIn",data: { "disable-with": "Please wait..." }, class: "signUp-button"%>
  <%end%>
</main>
