.new-question {
  padding: 8px;
  margin: 5px;
}

.new-question h2 {
  font-size: 25px;
  font-weight: bold;
}

.addOptions {
  padding: 8px;
  margin: 5px;
}

.addOptions h3 {
  font-size: 21px;
  margin: 5px;
  font-weight: bold;
}

.ques-image {
  padding: 8px;
  margin: 5px;
}

td,
th {
  text-align: center;
  height: 40px;
  vertical-align: middle;
  padding: 0 15px;
  border-bottom: 1px solid #ddd;
}

table {
  padding: 2px;
  margin: 2px;
}

table tr td input[type="text"] {
  width: 150px;
}

table tr th {
  padding: 0 15px;
}
